@page
@model BootstrapGrid

@{
    ViewData["Title"] = "Bootstrap Grid";
}

<h1 class="text-center mt-3">Bootstrap Grid - Organizing in 12 units</h1>

<section class="p-3">
    <strong class="d-block mb-3">explicit col size definition</strong>
    <div class="row mx-0 bg-light mb-3">
        <div class="col-4">
            <div class="bg-success text-dark p-3">Block 1</div>
        </div>
        <div class="col-4">
            <div class="bg-info text-dark p-3">Block 2</div>
        </div>
        <div class="col-4">
            <div class="bg-warning text-dark p-3">Block 3</div>
        </div>
    </div>

    <strong class="d-block mb-3">implicit col size definition, aka ignore the 12 unit limit</strong>
    <div class="row mx-0 bg-light mb-3">
        <div class="col">
            <div class="bg-success text-dark p-3">Block 1</div>
        </div>
        <div class="col">
            <div class="bg-info text-dark p-3">Block 2</div>
        </div>
        <div class="col">
            <div class="bg-warning text-dark p-3">Block 3</div>
        </div>
        <div class="col">
            <div class="bg-primary text-dark p-3">Block 4</div>
        </div>
    </div>

    <strong class="d-block mb-3">mixed col size defintion in same row</strong>
    <div class="row mx-0 bg-light mb-3">
        <div class="col">
            <div class="bg-success text-dark p-3">Block 1</div>
        </div>
        <div class="col-6">
            <div class="bg-info text-dark p-3">Block 2</div>
        </div>
        <div class="col-8">
            <div class="bg-warning text-dark p-3">Block 3</div>
        </div>
        <div class="col">
            <div class="bg-primary text-dark p-3">Block 4</div>
        </div>
    </div>

    <strong class="d-block mb-3">auto wrap when max col size is reached</strong>
    <div class="row mx-0 bg-light mb-3">
        <div class="col-4">
            <div class="bg-success text-dark p-3">Block 1</div>
        </div>
        <div class="col-6">
            <div class="bg-info text-dark p-3">Block 2</div>
        </div>
        <div class="col-8">
            <div class="bg-warning text-dark p-3">Block 3</div>
        </div>
        <div class="col-3">
            <div class="bg-primary text-dark p-3">Block 4</div>
        </div>
        <div class="col-2">
            <div class="bg-danger text-dark p-3">Block 5</div>
        </div>
        <div class="col-1">
            <div class="bg-secondary text-dark p-3">Block 6</div>
        </div>
    </div>
</section>
