@page
@model GridShowcase.Pages.Index
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mt-3">
    <h1 class="mb-5">Are you gridding me?!</h1>

    <h2>Why flexbox?</h2>
    <p class="mb-3">

    </p>

    <h2>Why bootstrap/framework grid?</h2>
    <p class="mb-3">

    </p>

    <h2>Why css grid?</h2>
    <p class="mb-3">

    </p>
</div>
